@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
--orange:#ffa500;
}

*{
	font-family: 'Nunito', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	text-transform: capitalize;
	outline: none; border:none;
	text-decoration: none;
	transition: all .2s linear;
}

*::selection{
	background:var(--orange);
	color:#fff;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 6rem;
	scroll-behavior: smooth;
}

.btn{
	display: inline-block;
	margin-top: 1rem;
	background:var(--orange);
	color:#fff;
	padding:.8rem 3rem;
	border:.2rem solid var(--orange);
	cursor: pointer;
	font-size:1.7rem;
}

.btn:hover{
	background:rgba(255, 165,0,.2);
	color:var(--orange);
}

.login-form-container{
	position: fixed;
	top:-120%; left: 0;
	z-index: 10000;
	min-height: 100vh;
	width:100%;
	background: rgba(0,0,0,.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form-container.active{
	top:0;
}

.login-form-container form{
	margin:2rem;
	padding:1.5rem 2rem;
	border-radius: .5rem;
	background:#fff;
	width:30rem;
}

.login-form-container form h3{
	font-size: 3rem;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 0;	
}

.login-form-container form p{
	font-size: 1.5rem;
	color: #444;
	/*text-transform: uppercase;*/
	text-align: center;
	padding: .5rem 0;	
}

.login-form-container form .btn{
	display: block;
	width: 100%;
	text-align: center;
}

.login-form-container #form-close{
	position: absolute;
	top:2rem; right:3rem;
	font-size: 5rem;
	color:#fff;
	cursor: pointer;
}





header{
	position: fixed;
	top:0; left: 0; right: 0;
	background: #333;
	z-index: 1000;
	display: flex;
	
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
}

header .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color:#fff;
	text-transform: uppercase;

}

header .logo span{
	color: var(--orange);
}

header .navbar a{
	color:#fff;
	font-size: 1.5rem;
	margin:0 .8rem;
}

header .navbar a:hover{
	color:var(--orange);
}

header .icons i{
	font-size: 2.5rem;
	color:#fff;
	cursor: pointer;
	margin-right: 2rem;
}

header .icons i:hover{
	color:var(--orange);
}

.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	position: relative;
	z-index: 0;
	background-color: #fff5e3;
	margin-top:25px;
}

#menu-bar{
	color:#fff;
	border:.1rem solid #fff;
	border-radius: .5rem;
	font-size: 3rem;
	padding: .5rem 1.2rem;
	cursor: pointer;
	display: none;
}


.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	position: relative;
	z-index: 0;
}

.home .container{
	text-align: center;
	
}

.home .container h1{
	font-size: 2rem;
	color:#fff;
	text-transform: uppercase;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}



.content-table{
	padding:2rem;
	text-align:center;
	border-radius: .5rem;
	
	width:50px;
	
	background-color: #ffebc6;
	
	
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 1.5em;
	min-width:400px;
	border-radius: 5px 5px 0 0;
	overflow:hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

	
}


.content-table img{


	height:35rem;
	width:50rem;
	/*border-radius:50%; */
	object-fit: cover;
	margin-bottom:1rem;
	
	
}

.content-table h3{
	color:#333;
	font-size: 2.5rem;
}

.content-table th{
	text-align:center;
	font-size: 2rem;
	font-weight: bolder;
	color:#fff;
	text-transform: uppercase;
}

.content-table p{
	color:#666;
	font-size: 1.5rem;
	padding: 1rem 0;
}

.content-table thead tr{
	background-color: #ffa500;
	color: #fff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td{
	padding: 12px 15px;
}

.content-table tbody tr{
	border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
	/*background-color: #ffdfa4;*/
	/*background-color: rgba(255,223,164, .5)*/
}

.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #ffa500;
}

























.footer{
	background:#333;
	
}

.footer .box-container{
	display: flex;
	flex-wrap: wrap;gap:1.5rem;
	text-align:center;
}

.footer .box-container .box{
	padding:1rem 0;
	flex: 1 1 25rem;
}

.footer .box-container .box h3{
	font-size: 2.5rem;
	padding:.7rem 0;
	color:#fff;
}

.footer .box-container .box p{
	font-size: 1.5rem;
	padding:.7rem 0;
	color:#eee;
}

.footer .box-container .box a{
	display: block;
	font-size: 1.5rem;
	padding:.7rem 0;
	color:#eee;
}

.footer .box-container .box a:hover{
	color:var(--orange);
	text-decoration:underline;
}

.footer .credit{
	text-align: center;
	padding:2rem 1rem;
	margin-top: 1rem;
	font-size: 2rem;
	font-weight: normal;
	color:#fff;
	border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
	color:var(--orange);
}










/*media queries */
@media (max-width: 1200px){
	
	html{
	  font-size: 55%;
	}
}

@media (max-width: 991px){
	header{
	padding:2rem;
	}
	
	section{
	padding:2rem;
	}
}

@media (max-width: 768px){
	#menu-bar{
	display: initial;
	}
	
	header .navbar{
	position: absolute;
	top:100%; right:0; left: 0;
	background: #333;
	border-top: .1rem solid rgba(255,255,255,.2);
	padding:1rem 2rem;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	
	   header .navbar.active{
	   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	   }
	
	   header .navbar a{
	   display:block;
	   border-radius: .5rem;
	   padding:1.5rem;
	   margin:1.5rem 0;
	   background:#222;
	   }
}

@media(max-width:450px){
	
	html{
	font-size: 50%;
	}
	.heading span{
	font-size:2.5rem;
	}
	.contact .row form .inputBox input{
	  width:100%;
	}
	
}